/* under-maintenace */

/* navbar code */
.navbar-bg {
  background: #000000;
  width: 100%;
  z-index: 999;
}

.navbar-name {
  padding: calc(1px + 0.5vw);
  font-size: calc(15px + 0.4vw);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  color: #ffffff;
}
.nav-margin {
  margin-left: 0.8rem;
}

.nav-text-color:hover {
  color: #ffffff;
}

.nav-text-color:active,
.nav-text-color:focus {
  color: none;
}

.nav-text-align {
  display: -webkit-box;
  justify-content: flex-end;
}

.nav-text-color {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  padding: 0.3125rem 0rem;
  /* padding-bottom: 0.3125rem; */
  margin-right: 1rem;
  text-decoration: none;
  font-size: calc(8px + 0.4vw);
  /* line-height: 0.938rem; */
  margin-left: 0.3rem;
  color: #c7c7c7;
}

/* nav bar toggler */

.navbar-toggler,
.navbar-icon {
  outline: none;
  box-shadow: none;
  margin: 0.6rem 0.5rem;
}

.toggler-icon {
  cursor: pointer;
  width: 28px;
  height: 2px;
  background-color: #ffffff;
  display: block;
  transition: all 0.2s;
  margin: 8px auto;
}

.navbar-toggler .top-bar {
  transform: translateY(3px) scaleX(0.7) rotate(-35deg) translateZ(0px);
  transform-origin: center;
}

.navbar-toggler .bottom-bar {
  transform: translateX(-6.1px) translateY(1px) scaleX(0.7) rotate(35deg)
    translateZ(0px);
  transform-origin: center right;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
  width: 22px;
  margin-left: 5px;
}

/* header section */

.header-section {
  width: auto;
  height: auto;
  margin: 3rem 3.5rem 3rem 3.5rem;
}

.header1 {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: calc(21px + 0.8vw);
  margin-top: calc(70px + 1vw);
  margin-bottom: calc(18px + 1vw);
  color: rgba(223, 223, 223, 0.9);
}

.header2 {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: calc(12px + 0.6vw);
  color: rgba(204, 204, 204, 0.815);
}

/* header animation */

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.animated {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

/* header-wave */

#hero {
  width: 100%;
  background: url("https://surajmurtadak.github.io/appsportfolio/icons/image2.png");
  position: relative;
  background-size: cover;
  padding: 10px 0 0 0;
  border: none;
}
#hero:before {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.hero-waves {
  display: block;
  margin-top: 60px;
  width: 100%;
  height: calc(39px + 1vw);
  z-index: 5;
  position: relative;
}

.wave1 use {
  -webkit-animation: move-forever1 10s linear infinite;
  animation: move-forever1 10s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

.wave2 use {
  -webkit-animation: move-forever2 8s linear infinite;
  animation: move-forever2 8s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

.wave3 use {
  -webkit-animation: move-forever3 6s linear infinite;
  animation: move-forever3 6s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

@-webkit-keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}

@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}
@-webkit-keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
@-webkit-keyframes move-forever3 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
@keyframes move-forever3 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}

/* progress list */

.my-apps-font {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-style: italic;
  text-align: center;
  background-color: rgb(255, 255, 255);
  height: 3.8rem;
  font-size: calc(20px + 0.8vw);
  margin: 1.3rem 0rem 1.1rem 0rem;
  color: rgb(0, 0, 0);
  padding-top: 1.2rem;
}

.progress-list1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem 0.3rem;
}

.progress-list-content1 {
  margin: 0.3rem;
  background-color: rgb(1, 1, 14);
  color: #ffffff;
  padding: 0.3rem 1rem;
  width: auto;
  height: auto;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: calc(7px + 0.8vw);
  font-weight: 400;
  border-radius: 6px;
}
.para-color {
  color: #dbfb17;
  margin: 0rem;
}
.para-color span {
  color: #ffffff;
}

/* app container */

.app-logo-img {
  width: 14rem;
  height: 14rem;
  border-radius: 40px;
}

.all-app-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: calc(8px + 0.8vw) calc(9px + 0.8vw);
}

.app-content {
  display: flex;
  width: 14rem;
  height: 25rem;
  margin: 1.25rem;
  border-radius: 1.2rem;
  justify-content: center;
  box-shadow: 0px 0px 20px 0px rgba(38, 38, 44, 0.2);
  border-radius: 40px;
  transition-duration: 0.8s;
}
.app-content:hover {
  box-shadow: 0px 0px 20px 0px rgba(29, 99, 230, 0.397);
  border-radius: 40px;
  margin-bottom: 5px;
  margin-top: -5px;
  transition-duration: 0.8s;
}
.inner-app img {
  text-align: center;
}
.app-text-content {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: calc(13px + 0.3vw);
  height: auto;
  width: 14rem;
  color: #353535;
  text-align: center;
  margin: 1rem 0rem;
  padding: 0rem 0.1rem;
}
.app-text-content span {
  font-size: calc(11px + 0.2vw);
  margin: 0px 5px;
  font-weight: 400;
  color: #464646cc;
}
p {
  margin: 0.2rem 0.5rem 1rem 0.5rem;
}
.app-store-button {
  margin: 0.2rem;
}

/* footer copyright section */

.footer-copyright {
  width: 100%;
  height: auto;
  text-align: center;
  color: #ffffff;
  background-color: black;
  padding: 0.6rem;
  margin: 0rem;
  font-family: "DM Sans";
  font-size: calc(6px + 0.5vw);
}
